
<div class="col text-center border border-light p-1 @FizzBuzzValule">
    @FizzBuzzValule
</div>

@code {
    [Parameter, EditorRequired]
    public string FizzBuzzValule { get; set; } = string.Empty;
}
